#fridge {
    top: 45%;
    left: 8%;
}

#food {
    top: 5%;
    left: 45%;
}

#furniture {
    top: 48%;
    left: 92%;
}

#surface {
    top: 45%;
    left: 55%;
}

#floor {
    top: 70%;
    left: 40%;
}
