@font-family {
    font-family: 'DejaVu Sans';
    src: url('./assets/fonts/dejavu-sans/ttf/DejaVuSans.ttf') format('ttf');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    color: #172038 !important;
    font-size: 16px;
    font-family: 'DejaVu Sans' !important;
}

body {
    background-color: #EBEDE9;
}

h1 {
    margin: 0;
}

.title {
    text-align: center;
    margin-bottom: 1rem;
}

main {
    margin-top: 4rem;
    justify-content: center;
    align-items: center;
}

button {
    width: 100px;
    height: 100px;
}

#place {
    position: relative;
    margin: auto;
}

#place img {
    width: 100%;
}

.tagImage {
    display: block;
    filter: drop-shadow(1px 1px 1px #172038);
}

.futuristic-object {
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #172038;
    border-radius: 50%;
}

.menu-title {
    display: inline-block;
    padding: .5em 1em;
    color: #253B5E;
    text-decoration: none;
    white-space: nowrap;
}

.custom-wrapper {
    height: 2.5rem;
    -webkit-transition: height 0.5s;
    -moz-transition: height 0.5s;
    -ms-transition: height 0.5s;
    transition: height 0.5s;
    margin-bottom: 1rem;
    background-color: #EBEDE9;
    -webkit-font-smoothing: antialiased;
}

.overflow-hidden {
    overflow: hidden;
}

.pure-menu-list {
    margin-top: 45px;
}

.btn-room {
  position: absolute;
  padding: 6px;
  color: #EBEDE9;
  text-decoration: none;
  border-radius: 7px;
  background-color: #172038;
}

.btn-lg {
    color: #EBEDE9;
    box-shadow: 0px 0px 6px 0px #172038;
    /* box-shadow: 0px 0px 2px 1px #172038; */
    border-radius: 6px;
    background-color: #3c5e8b;
    font-size: 20px;
}

.btn:hover,
.btn:focus {
    /* box-shadow: inset 0 0 5px #172038; */
    border-bottom: solid 3px #3c5e8b;
    background-color: #c7cfcc;
}

.btn-left {
    float: left;
    margin-left: 1rem;
}

.btn-right {
    float: right;
    margin-right: 1rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.dropdown:hover .btn-lg {
    box-shadow: inset 0 0 5px #172038;
}

.custom-wrapper.open {
    height: 9rem;
}

.text-center,
.custom-menu {
    text-align: center;
}

.custom-toggle {
    display: block;
    position: absolute;
    top: 2.5rem;
    right: 50%;
    width: 34px;
    height: 34px;
    transform: translate(50%, 50%);
}

.custom-toggle .bar {
    display: block;
    position: absolute;
    top: 1.25rem;
    right: 7px;
    width: 20px;
    height: 2px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
    background-color: #777;
    border-radius: 100px;
}

.custom-toggle .bar:first-child {
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
}

.custom-toggle.x .bar {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.custom-toggle.x .bar:first-child {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

/* Dropdown menu */
.dropdown {
    display: inline-block;
    position: relative;
    z-index: 1;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    right: 50%;
    overflow: hidden;
    width: max-content;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    transform: translate(50%, 0%);
    background-color: #f1f1f1;
    border-radius: 7px;
}

.dropdown-content a {
    display: block;
    margin: auto;
    padding: 12px 16px;
    color: #172038;
    text-decoration: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.footer {
    width: 100%;
    padding: 1.5rem;
    text-align: center;
    color: #EBEDE9;
    box-shadow: 0px 0px 3px #172038;
    margin-top: 50px;
    background-color: #172038;
}

/* Media query => Móvil */
@media (max-width: 35.5em) {
    .btn-lg {
        width: 100%;
        color: #EBEDE9;
        box-shadow: 0px 0px 0px 0px #172038;
        border-radius: 0px;
        background-color: #3c5e8b;
    }

    .btn-left {
        float: none;
        margin: 0;
    }

    .btn-right {
        float: none;
        margin: 0;
    }

    .btn-sm-center {
        text-align: center;
    }

    .pure-menu-list {
        margin-top: 0px;
    }

    .pure-menu-link {
        text-align: center;
    }

    .custom-menu {
        text-align: left;
    }

    .btn-room {
      font-size: 10px;
    }

    .custom-toggle {
        display: block;
        top: 0px;
        right: 0%;
        width: 34px;
        height: 34px;
        transform: translate(0%, 0%);
        margin-bottom: 20px;
    }
    .dropdown {
        width: 100%;
    }
    .dropdown-content {
        display: initial;
        position: initial;
        text-align: center;
    }
    .dropdown:hover .dropdown-content {
        display: initial;
    }
}
