#surface {
    top: 12%;
    left: 30%;
}

#furniture {
    top: 17%;
    left: 11%;
}

#screen {
    top: 3%;
    left: 11%;
}

#cupboard {
    top: 70%;
    left: 90%;
}

#bed {
    top: 55%;
    left: 25%;
}

#floor {
    top: 85%;
    left: 55%;
}
