#bed {
    top: 20%;
    left: 80%;
}

#surface {
    top: 42%;
    left: 95%;
}

#floor {
    top: 50%;
    left: 50%;
}

#screen {
    top: 91%;
    left: 68%;
}

#furniture {
    top: 75%;
    left: 38%;
}
