#screen {
    top: 55%;
    left: 10%;
}

#surface {
    top: 65%;
    left: 12%;
}

#furniture {
    top: 52%;
    left: 25%;
}

#cupboard {
    top: 5%;
    left: 50%;
}

#floor{
    top: 40%;
    left: 70%;
}

#bed {
    top: 85%;
    left: 50%;
}
