.btn-close {
    text-align: center;
    color: #aaa;
    font-size: 1.75rem;
    text-decoration: none;
}

.btn-close:hover {
    color: #919191;
}

.modal:before {
    content: "";
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    background: rgba(0, 0, 0, 0.6);
}

.modal:target:before {
    display: block;
}

.modal:target .modal-dialog {
    top: 10%;
    -webkit-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
}

.modal-dialog {
    position: fixed;
    top: -100%;
    left: 50%;
    z-index: 11;
    background: #fefefe;
    border: #333 solid 0.1rem;
    -webkit-transform: translate(-50%, -500%);
    -ms-transform: translate(-50%, -500%);
    transform: translate(-50%, -500%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -moz-transition: -moz-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    min-width: 23rem;
    max-width: 23rem;
    border-radius: 0.3rem;
}

.modal-header,
.modal-footer {
    padding: 0.5rem 0.75rem;
}

.modal-header {
    border-bottom: #eee solid 0.1rem;
}

.modal-header h2 {
    font-size: 1.25rem;
}

.modal-body {
    padding: 1.25rem;
}

#modal-image {
    image-rendering: pixelated;   
    width: 100%;   
    display: block;   
    margin: 0 auto 1rem auto; 
}

.modal-footer {
    text-align: right;
    border-top: #eee solid 0.1rem;
}
