#dormitorio-1 {
  top: 12%;
  left: 47%;
}

#dormitorio-2 {
  top: 30%;
  left: 28%;
}

#dormitorio-progenitores {
  top: 53%;
  left: 13%;
}

#dormitorio-amistades {
  top: 21%;
  left: 63%;
}

#bano-arriba {
  top: 65%;
  left: 29%;
}